*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.container{
    max-width: 1195px;
    margin: 0 auto;
}
header{
    background-color: #6e78b7;
    padding: 55px 0;
}
header .menu{
    display: flex;
    justify-content: space-around;
}
header .menu a{
    width: 260px;
    background-color: bisque;
    text-align: center;
    padding: 14px 0;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
    color: #6e78b7;
    box-shadow: 0 0 10px -1px black;
}
header .menu a:hover{
    box-shadow: none;
    background-color: rgb(252, 230, 204);
    color: #5b6398;
}
main{
    background: #5b6398;
    padding: 55px 0 80px;
}
.technology{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.technology img{
    width: 200px;
    height: 200px;
}
.gallery{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
.gallery img{
    width: 200px;
    height: 200px;
    margin-bottom: 35px;
}
.news article{
    display: flex;
    background: rgb(66, 66, 121);
    padding: 20px 25px 15px 7px;
    justify-content: space-between;
    margin-bottom: 40px;
}
.news article img{
    margin-right: 55px;
    padding-left: 30px;
}
.news article .description{
    color: bisque;
    font-size: 16px;
    width: 800px;
}
.news article:nth-child(even) img{
    order: 1;
    margin-right: 0;
    margin-left: 55px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cards .card{
    width: 400px;
    min-height: 425px;
    background-color: #6e78b7;
    color: bisque;
    box-shadow: 0 0 10px -1px black;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
.cards .card h3{
    margin: 0;
    background-color: bisque;
    padding: 25px 0 20px;
    text-transform: uppercase;
    color: #5b6398;
    text-align: center;
}
.cards .card .description{
    padding: 35px 40px 0 40px;
}
.cards .card .description p{
    margin: 0;
    line-height: 1.5;
}
.cards .card .btn{
    width: 260px;
    padding: 14px;
    font-size: 24px;
    color: #5b6398;
    background-color: bisque;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    display: block;
    margin: auto auto 0;
    box-shadow: 0 0 10px -1px black;
    font-weight: bold;
}
footer{
    background-color: #6e78b7;
    font-size: 21px;
    color: bisque;
    text-align: center;
    padding: 110px 0 105px;
}
footer p{
    margin: 0;
}
@media (max-width: 1200px){
    .technology{
        flex-direction: column;
    }
    .technology img{
        max-width: 620px;
        width: 100%;
        height: auto;
        max-height: 315px;
        margin-bottom: 50px;
    }
    .gallery img{
        flex-grow: 1;
        height: auto;
    }
    .news article .description{
        width: 100%;
        flex-shrink: 2;
    }
    .news article img{
        flex-shrink: 1;
    }
}
@media (max-width: 991px){
    .cards .card{
       margin-bottom: 80px; 
    }
}
@media (max-width: 768px){
    header .menu{
        flex-direction: column;
        align-items: center;
    }
    header .menu a{
        width: 90%;
        margin-bottom: 45px;
        padding-top: 30px;
    }
    .news article{
        flex-direction: column;
        align-items: center;
        padding: 50px 40px 60px 40px;
        margin: 0 24px 70px;

    }
    .news article img{
        width: 100%;
        max-height: 350px;
        height: auto;
        margin-right: 0;
    }
    .news article .description{
        font-size: 25px;
    }
    .news article:nth-child(even) img{
        order: 0;
        margin-left: 0;
    }
    .cards .card{
        font-size: 29px;
        max-width: 625px;
        width: 100%;
        min-height: 650px;
    }
    .cards .card .btn{
        font-size: 29px;
        width: 315px;
        padding: 16px 0;
    }
    footer{
        padding: 55px 0 50px;
    }

}

